# Data
NIH_ChestXray/images*/
NIH_ChestXray/*.tar.gz
processed_data/
*.csv
*.npz

# Exceptions - keep these files
!NIH_ChestXray/Data_Entry_2017.csv

# Checkpoints
checkpoints/
*.pth
*.pt

# Results
results/
runs/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/
venv/
env/

# IDE
.vscode/
.idea/
*.swp
dl-env/*

# System
.DS_Store
Thumbs.db
scratch.py
